
---
import PageLayout from "../../layouts/Page.astro";

import { getCollection } from 'astro:content';

const allPosts = await getCollection('posts');

const sortedPosts = allPosts.sort((a: any, b: any) => {
  const dateA = a.data.pubDate ? new Date(a.data.pubDate).getTime() : 0;
  const dateB = b.data.pubDate ? new Date(b.data.pubDate).getTime() : 0;
  return dateB - dateA;
});

const showPosts = true;
---


<PageLayout nav={true}>
  <main id="posts-main">
    <div id="posts-content">
      {showPosts ? (
        <h1>Posts</h1>
        <dl>
          {sortedPosts.map((post: any) => {
            const link = "/posts/" + post.id;
            const dateString = post.data.pubDate.toLocaleDateString('en-US');

            return (
              <div>
                <dt>
                  <a href={link}>
                    {post.data.title}
                  </a>
                </dt>
                <dd>
                  {dateString}
                </dd>
              </div>
            );
          })}
        </dl>

      ) : (
      <div style="text-align: center;">
        <p style="font-size: 4em;">🚧</p>
        <h1>Coming soon...</h1>
      </div>
      )}
    </div>
  </main>
</PageLayout>


<style>
  #posts-main {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
  }

  #posts-content {
    width: 100%;
    max-width: 500px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* padding-top: 5vh; */
  }
</style>
