#col-container {
  display: flex;
  width: 100%;
  height: 100%;
}

#left-container,
#right-container {
  display: flex;
  max-width: 50%;
  max-height: 100%;
  width: 50%;
}

#left-container {
  padding-left: 100px;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

#right-container {
  align-items: center;
  justify-content: center;
}

#portrait {
  width: 400px;
  height: 600px;
  border: 10px solid var(--fallback-b2, oklch(var(--b2) / 0.4));
}
.name {
  color: white;
  line-height: 1em;
  font-size: 9em;
}

#subtitle {
  color: white;
  font-size: 1.5em;
}
