#projects-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

#projects-col-1 {
  display: flex;
  justify-content: center;
  width: 30%;
}

#projects-col-2 {
  width: 70%;
}
