---
import { Content as AboutMD } from "../../md/about.md";
import Article from "../../components/Article.astro";
---

<div id="about" class="flex flex-col place-items-center">
    <h2 class="text-4xl section-title">About</h2>

    <div
        class="bg-base-200 p-4 rounded-box flex flex-col gap-4 place-items-center"
    >
        <Article Markdown={AboutMD} />
    </div>
</div>
