---
import { ChevronDown } from "@lucide/astro";
---

<div
    id="landing"
    class="text-center flex flex-col place-items-center my-[50vh]"
>
    <h1 class="text-5xl pb-2">Daniel Durling</h1>

    <span
        class="text-rotate w-fit text-2xl duration-10000 italic rounded-full capitalize mx-2 text-neutral"
    >
        <span>
            <span class="w-full px-4 bg-primary">Fullstack</span>
            <span class="w-full px-4 bg-secondary">UI/UX</span>
            <span class="w-full px-4 bg-accent">Linux</span>
            <span class="w-full px-4 bg-success">IT</span>
            <span class="w-full px-4 bg-warning">Video Editing</span>
        </span>
    </span>

    <div class="mt-6 animate-bounce">
        <ChevronDown />
    </div>
</div>
