---
import SkillBar from "../../components/SkillBar.astro";
import { Content as SkillsMD } from "../../md/skills.md";
import { Content as CoursesMD } from "../../md/courses.md";
---

<div id="skills" class="flex flex-col place-items-center my-4">
    <h2 class="text-4xl section-title">Skills</h2>

    <div class="w-[65ch] max-w-full p-4 bg-base-200 rounded-box">
        <div class="mt-6">
            <h3 class="text-xl underline text-center mb-2">
                Programming Languages
            </h3>
            <div class="flex flex-col gap-2">
                <SkillBar name="Python" level={90} />
                <SkillBar name="Java" level={100} />
                <SkillBar name="JavaScript" level={80} />
                <SkillBar name="Lua" level={10} />
                <SkillBar name="C (coming Spring 2026)" level={0} />
                <SkillBar name="Assembly (coming Spring 2026)" level={0} />
            </div>
        </div>

        <div class="mt-6">
            <h3 class="text-xl underline text-center mb-2">
                Libraries/Frameworks
            </h3>
            <div class="flex flex-col gap-2">
                <SkillBar name="React" level={70} />
                <SkillBar name="Svelte" level={60} />
                <SkillBar name="Django" level={40} />
                <SkillBar name="Tauri" level={20} />
                <SkillBar name="Astro" level={50} />
                <SkillBar name="Hugo" level={20} />
                <SkillBar name="Bun" level={20} />
                <SkillBar name="Prisma" level={30} />
                <SkillBar name="Node.js" level={50} />
                <SkillBar name="Express.js" level={10} />
                <SkillBar name="TailwindCSS" level={100} />
            </div>
        </div>

        <div class="mt-6">
            <h3 class="text-xl underline text-center">Software</h3>
            <div class="flex flex-col gap-2">
                <SkillBar name="Git" level={90} />
                <SkillBar name="Vim/Neovim" level={40} />
                <SkillBar name="DaVinci Resolve" level={100} />
                <SkillBar name="Adobe Creative Cloud" level={80} />
                <SkillBar name="VirtualBox" level={40} />
                <SkillBar name="Blender" level={10} />
                <SkillBar name="Microsoft Office" level={60} />
            </div>
        </div>

        <div class="mt-6">
            <h3 class="text-xl underline text-center mb-2">
                Operating Systems
            </h3>
            <div class="flex flex-col gap-2">
                <SkillBar name="Arch Linux" level={100} />
                <SkillBar name="Windows Desktop" level={60} />
                <SkillBar name="Windows Server" level={30} />
            </div>
        </div>

        <div class="mt-6">
            <h3 class="text-xl underline text-center mb-2">Miscellaneous</h3>
            <article class="prose w-full bg-base-200 p-4 m-4 rounded-box">
                <SkillsMD />
            </article>
        </div>

        <div class="mt-6">
            <h3 class="text-xl underline text-center mb-2">
                Relevant Coursework
            </h3>
            <article class="prose w-full bg-base-200 p-4 m-4 rounded-box">
                <CoursesMD />
            </article>
        </div>
    </div>
</div>
