/* FONTS */

@font-face {
  font-family: "Libertinus Serif";
  src: url("/fonts/LibertinusSerif/LibertinusSerif-Regular.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Libertinus Serif";
  src: url("/fonts/LibertinusSerif/LibertinusSerif-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Libertinus Serif";
  src: url("/fonts/LibertinusSerif/LibertinusSerif-BoldItalic.woff2")
    format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Libertinus Serif";
  src: url("/fonts/LibertinusSerif/LibertinusSerif-Italic.woff2")
    format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "0xProto";
  src: url("/fonts/0xProto/0xProto-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "0xProto";
  src: url("/fonts/0xProto/0xProto-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "0xProto";
  src: url("/fonts/0xProto/0xProto-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* THEME */

:root,
html[data-theme="light"] {
  --color-base-100: oklch(0.9135 0.0068 277.16);
  --color-base-200: oklch(0.8734 0.02 270.19);
  --color-base-300: oklch(0.8366 0.0319 269.77);
  --color-base-content: oklch(0.3847 0.0208 274.31);
  --color-primary: oklch(0.4762 0.1402 260.22);
  --color-primary-content: oklch(22.629% 0.021 280.487);
  --color-secondary: oklch(75.146% 0.134 299.499);
  --color-secondary-content: oklch(22.629% 0.021 280.487);
  --color-accent: oklch(82.004% 0.105 235.715);
  --color-accent-content: oklch(22.629% 0.021 280.487);
  --color-neutral: oklch(20.398% 0.016 284.91);
  --color-neutral-content: oklch(76.659% 0.054 275.492);
  --color-info: oklch(82.004% 0.105 235.715);
  --color-info-content: oklch(22.629% 0.021 280.487);
  --color-success: oklch(82.174% 0.1 182.485);
  --color-success-content: oklch(22.629% 0.021 280.487);
  --color-warning: oklch(78.387% 0.106 75.428);
  --color-warning-content: oklch(22.629% 0.021 280.487);
  --color-error: oklch(72.269% 0.159 10.276);
  --color-error-content: oklch(22.629% 0.021 280.487);
}

html[data-theme="dark"] {
  --color-base-100: oklch(22.629% 0.021 280.487);
  --color-base-200: oklch(20.398% 0.016 284.91);
  --color-base-300: oklch(17.491% 0.008 285.52);
  --color-base-content: oklch(76.659% 0.054 275.492);
  --color-primary: oklch(71.898% 0.132 264.202);
  --color-primary-content: oklch(22.629% 0.021 280.487);
  --color-secondary: oklch(75.146% 0.134 299.499);
  --color-secondary-content: oklch(22.629% 0.021 280.487);
  --color-accent: oklch(82.004% 0.105 235.715);
  --color-accent-content: oklch(22.629% 0.021 280.487);
  --color-neutral: oklch(20.398% 0.016 284.91);
  --color-neutral-content: oklch(76.659% 0.054 275.492);
  --color-info: oklch(82.004% 0.105 235.715);
  --color-info-content: oklch(22.629% 0.021 280.487);
  --color-success: oklch(82.174% 0.1 182.485);
  --color-success-content: oklch(22.629% 0.021 280.487);
  --color-warning: oklch(78.387% 0.106 75.428);
  --color-warning-content: oklch(22.629% 0.021 280.487);
  --color-error: oklch(72.269% 0.159 10.276);
  --color-error-content: oklch(22.629% 0.021 280.487);
}

/* GLOBAL CHANGES */

* {
  box-sizing: border-box;
  /* font-family: "Libertinus Serif", serif; */
  font-family: "0xProto", monospace;
  color: var(--color-base-content);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
a,
div,
html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--color-base-200);
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

a {
  color: var(--color-primary);
}

ul {
  padding-inline-start: 25px;
}

hr {
  width: 100%;
}

input[type="checkbox"] {
  display: none;
}

/* CLASSES */

.text-sm {
  font-size: 0.75em;
}

.text-lg {
  font-size: 1.25em;
}

.serif,
.serif * {
  font-family: "Libertinus Serif";
}

.checkbox {
  cursor: pointer;
}

.checkbox .checkmark {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  background-color: var(--color-base-content);
  vertical-align: middle;
  margin-right: 3px;
  position: relative;
  cursor: pointer;
}

.checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 0.22em;
  top: 0.1em;
  width: 0.2em;
  height: 0.4em;
  border: solid var(--color-base-200);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
