@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui/theme" {
    name: "tokyo-night";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(22.629% 0.021 280.487);
    --color-base-200: oklch(20.398% 0.016 284.91);
    --color-base-300: oklch(17.491% 0.008 285.52);
    --color-base-content: oklch(76.659% 0.054 275.492);
    --color-primary: oklch(71.898% 0.132 264.202);
    --color-primary-content: oklch(22.629% 0.021 280.487);
    --color-secondary: oklch(75.146% 0.134 299.499);
    --color-secondary-content: oklch(22.629% 0.021 280.487);
    --color-accent: oklch(82.004% 0.105 235.715);
    --color-accent-content: oklch(22.629% 0.021 280.487);
    --color-neutral: oklch(20.398% 0.016 284.91);
    --color-neutral-content: oklch(76.659% 0.054 275.492);
    --color-info: oklch(82.004% 0.105 235.715);
    --color-info-content: oklch(22.629% 0.021 280.487);
    --color-success: oklch(82.174% 0.1 182.485);
    --color-success-content: oklch(22.629% 0.021 280.487);
    --color-warning: oklch(78.387% 0.106 75.428);
    --color-warning-content: oklch(22.629% 0.021 280.487);
    --color-error: oklch(72.269% 0.159 10.276);
    --color-error-content: oklch(22.629% 0.021 280.487);
    --border: 1.5px;
    --depth: 0;
    --noise: 0;
}


@plugin "daisyui" {
    themes: emerald --default, tokyo-night --prefersdark;
}


@font-face {
    font-family: "Kanit";
    src: url("/fonts/Kanit/Kanit-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Kanit";
    src: url("/fonts/Kanit/Kanit-Regular-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Kanit";
    src: url("/fonts/Kanit/Kanit-Italic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Kanit";
    src: url("/fonts/Kanit/Kanit-Italic-Bold.woff2") format("woff2");
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}


* {
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 700;
}

body,
div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    place-items: center;
    margin: 0;
    padding: 0;
}

button {
    padding: 8px 8px;
}

#nav {
    position: fixed;
    top: 50%;
    right: 3em;

    width: fit-content;
    height: fit-content;
}