---
import PageLayout from "../layouts/Page.astro";
import About from "../content/about.md";
import "../styles/post.css";
---

<PageLayout nav={true}>
  <main id="about-main">
    <div id="about-content">
      <About />
    </div>
  </main>
</PageLayout>

<style>
  #about-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #about-content {
    width: 100%;
    max-width: 700px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 5vh 10px;
  }
</style>
