---
import { SITE_TITLE } from "../consts.ts";
import Layout from '../layouts/Layout.astro';

const PAGE_NAME = "About";
---

<Layout title={`${SITE_TITLE} | ${PAGE_NAME}`}>
	<main>
		<h1 class="text-8xl mt-12 mix-blend-difference">so here's my number</h1>
	</main>
</Layout>