---
import { SITE_TITLE } from "../consts.ts";
import Layout from "../layouts/Layout.astro";
import Arrow from "../components/Arrow.jsx"
import Landing from "../components/embedded-pages/Landing.astro";
---

<Layout title={SITE_TITLE}>
    <div id="main-content-container">
        <div class="arrow-btn-container">
            <Arrow orientation="up" />
        </div>

        <div id="pages-container">
            <Landing />
        </div>

        <div class="arrow-btn-container">
            <Arrow orientation="down" />
        </div>
    </div>



</Layout>


<style>

	#main-content-container {
	   z-index: 0;
	   max-height: calc(100% - 48px);
	    width: 100%;
	    height: 100%;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}

	#pages-container {
	    flex-grow: 1;
	}

	.arrow-btn-container {
	    width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 12px;
		margin-bottom: 12px;
	}
</style>
