---
import Layout from "../layouts/main.astro";
import About from "./sections/About.astro";
import Projects from "./sections/Projects.astro";
import Skills from "./sections/Skills.astro";
import Nav from "../components/Nav.astro";
import Landing from "./sections/Landing.astro";
import Info from "./sections/Info.astro";
---

<Layout>
	<div id="top" class="flex">
		<div class="flex-grow flex flex-col sm:max-w-[90%] w-full px-4">
			<Landing />

			<About />

			<Skills />

			<Projects />

			<Info />
		</div>

		<Nav />
	</div>
</Layout>
