---
import { SITE_TITLE } from "../consts.ts";
import Layout from '../layouts/Layout.astro';


---

<Layout title={SITE_TITLE}>
	<main>
		<h1 class="text-8xl mt-12 mix-blend-difference">hey i just met you</h1>
	</main>
</Layout>


<style>
	main {
		position: absolute;
	}

	h1 {
		width: 100%;
	}
</style>