---
import { SITE_TITLE } from "../consts.ts";
import Layout from '../layouts/Layout.astro';


---

<Layout title={SITE_TITLE}>
	<main>
		<h1 class="text-8xl mt-12 mix-blend-difference">Daniel Durling</h1>
		<div class="w-72">
			<img src="/images/me.webp" alt="Portrait photo of me" class="rounded-box">
		</div>
		
	</main>
</Layout>


<style>
	main {
		position: absolute;
	}

	h1 {
		width: 100%;
	}
</style>