.marquee {
    --gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}
  
.marquee-content {
    list-style-type: none;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    animation: scroll 25s linear infinite;
}

@keyframes scroll {
    from {
      transform: translateY(500%);
    }
    to {
      transform: translateY(calc(-500% - var(--gap)));
    }
}

.marquee:hover .marquee-content {
  animation-play-state: paused;
}