.skills-container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.skilltype-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    height: 100%;
}

.skilltype {
    font-size: large;
}