#nav {
    display: flex;
    width: 100%;
    height: 48px;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--rounded-badge);
    backdrop-filter: blur(50px);
}

.btn {
    border-radius: var(--rounded-badge);
    /* height: 100%; */
}

.icon {
    width: 16px;
    height: 16px;
}

#mini-nav-logo {
    width: 24px;
    height: 24px;
}

/* #theme-button {

} */

/* #content-wrapper {
    width: 97vw;
    height: 97vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--rounded-box);
    backdrop-filter: blur(50px);
} */