#nav {
  z-index: 7;
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--rounded-badge);
  backdrop-filter: blur(50px);
}

#mini-nav-logo {
  width: 24px;
  height: 24px;
}

@keyframes text-appear {
  0% {
    display: none;
    font-size: 0%;
  }

  1% {
    display: block;
  }

  100% {
    font-size: 100%;
  }
}
