---
import NavButton from "./NavButton.astro";
---

<div id="nav">
    <div class="flex gap-2">
        <NavButton elSelector="#first-glance" name="First Glance" />
        <NavButton elSelector="#skills" name="Skills" />
        <NavButton elSelector="#projects" name="Projects" />
        <NavButton elSelector="#about" name="About" />
    </div>
</div>
