.btn {
  border-radius: var(--rounded-badge);
}

.icon {
  width: 16px;
  height: 16px;
}

@keyframes text-appear {
  0% {
    display: none;
    font-size: 0%;
  }

  1% {
    display: block;
  }

  100% {
    font-size: 100%;
  }
}

.nav-btn-text {
  font-size: 0%;
}

.nav-btn:hover > .nav-btn-text {
  font-size: 100%;
  animation: text-appear 0.2s ease-in-out;
}

.nav-btn {
  transition: all 0.2s ease-in-out;
}

.nav-btn:hover {
  width: 100px;
  content: "Home";
}

.nav-btn-icon {
  translate: 4px 0px;
  transition: all 0.2s ease-in-out;
}

.nav-btn-icon:hover {
  translate: 0px 0px;
}
