<nav id="navbar">
  <div>
    <a href="/" id="navbar-title">dgd.dev</a>
  </div>
  <div>
    <a href="/">[/]</a>
    <a href="/projects">[/projects]</a>
    <a href="/about">[/about]</a>
  </div>
</nav>
<style>
  #navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--color-base-100);
  }

  #navbar-title {
    text-decoration: none;
    color: var(--color-base-content);
  }
</style>
