#content-steps-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#main-content-container {
  z-index: 0;
  max-height: calc(100% - 48px);
  width: 80%;
  height: 70%;
}

#pages-container {
  flex-grow: 1;
  height: 100%;
}

#steps-outer-container {
  display: flex;
  flex-grow: 0.3;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  z-index: 0;
}

#steps-inner-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.progress-svg {
  position: absolute;
}

.progress-line {
  stroke-linecap: round;
  fill: transparent;
}

#animated-progress-svg {
  z-index: -1;
}

#animated-progress-line {
  stroke: oklch(var(--bc));
  stroke-width: 5px;
}

#static-progress-svg {
  z-index: -2;
}

#static-progress-line {
  stroke: oklch(var(--b2));
  stroke-width: 13px;
}
