---
import { Image } from "astro:assets";
import Article from "./Article.astro";

const { name, Icon, Markdown, projectImg } = Astro.props;
---

<div class="collapse collapse-arrow bg-base-100">
    <input type="radio" name="my-accordion-2" checked="checked" />
    <div class="collapse-title font-semibold flex gap-2">
        <Icon class:list={"w-5 inline"} />
        <span>{name}</span>
    </div>
    <div class="collapse-content">
        <Image src={projectImg} alt={name} class:list={"rounded-t-box"} />
        <article class="prose w-full bg-base-200 p-4 rounded-b-box">
            <Markdown />
        </article>
    </div>
</div>
