#steps-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.progress-svg {
  position: absolute;
}

.progress-line {
  stroke-linecap: round;
  fill: transparent;
}

#animated-progress-svg {
  z-index: -1;
}

#animated-progress-line {
  stroke-width: 10px;
}

#static-progress-svg {
  z-index: -2;
}

#static-progress-line {
  stroke-width: 20px;
}
