@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: emerald --default, night --prefersdark;
}

html,
body {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}
