---
import PageLayout from "../layouts/Page.astro";
import "../styles/post.css";

const { title, pubDate, desc, tags } = Astro.props;
---

<PageLayout nav={true}>
  <main id="post-main">
    <div id="post-container">
      <div>
        <h1 id="post-title">{title}</h1>
        <p id="post-desc">{desc}</p>
        <p id="date-container">
          {pubDate.toLocaleDateString("en-us")}
        </p>

        <p id="tags-container">
          {tags.map((tag: any) => <span class="tag text-sm">{tag}</span>)}
        </p>

        <!-- <div id="font-toggle-container"> -->
        <!--   <label for="font-toggle" id="font-toggle-checkbox" class="checkbox"> -->
        <!--     <input type="checkbox" id="font-toggle" /> -->
        <!--     <span class="checkmark"></span> -->
        <!--     Serif font -->
        <!--   </label> -->
        <!-- </div> -->
      </div>

      <hr />

      <slot />
    </div>
  </main>
</PageLayout>

<script>
  const toggle = document.getElementById("font-toggle");
  const main = document.getElementById("post-main");
  const savedFont = localStorage.getItem("blog-font");

  if (savedFont === "serif" && toggle && main) {
    toggle.checked = true;
    main.classList.add("serif");
  }

  toggle?.addEventListener("change", () => {
    if (toggle.checked) {
      main?.classList.add("serif");
      localStorage.setItem("blog-font", "serif");
    } else {
      main?.classList.remove("serif");
      localStorage.setItem("blog-font", "mono");
    }
  });
</script>

<style>
  #post-main {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #post-container {
    width: 100%;
    max-width: 800px;
    min-height: 100%;
    margin: 40px 0;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #font-toggle-container {
    margin: 10px 0;
  }

  #tags-container {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 8px 0;
  }

  .tag {
    padding: 0px 10px;
    background-color: var(--color-base-100);
  }

  #font-toggle-checkbox {
    cursor: pointer;
    user-select: none;
    padding: 0.2em 0.5em;
    background-color: var(--color-base-100);
  }

  #font-toggle-checkbox:hover {
    background-color: var(--color-base-300);
  }

  .checkbox {
    cursor: pointer;
  }

  .checkbox .checkmark {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    background-color: var(--color-base-content);
    vertical-align: middle;
    margin-right: 3px;
    position: relative;
    cursor: pointer;
  }

  .checkbox input:checked + .checkmark::after {
    content: "";
    position: absolute;
    left: 0.22em;
    top: 0.1em;
    width: 0.2em;
    height: 0.4em;
    border: solid var(--color-base-200);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  hr {
    margin-top: 20px;
    margin-bottom: 30px;
  }
</style>
