---
interface Props {
	title: string;
}

import { ViewTransitions } from "astro:transitions";
import Nav from "../components/Nav.jsx";

const { title } = Astro.props;
---


<!doctype html>
<html lang="en">
	<head>
		<script is:inline>
			// ☝️ This script prevents the FART effect.
			if (localStorage.getItem("theme") === null) {
				document.documentElement.setAttribute("data-theme", "auto");
			} else
				document.documentElement.setAttribute(
				"data-theme",
				localStorage.getItem("theme")
				);
			// "theme" LocalStorage value is set by the package to remember user preference.
			// The value is checked and applyed before rendering anything.
		</script>
		<script>
			import { themeChange } from 'theme-change';
			themeChange();
			// 👆 you could import the CDN directly instead of these two lines
		</script>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="../global.css">
		<link rel="icon" type="image/webp" href="/logo.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <ViewTransitions />
	</head>
	<body>
        <div id="content-wrapper">
            <Nav />
            <slot />
        </div>

	</body>

    <style>

        @font-face {
            font-family: "Kanit";
            src: url("/fonts/kanit.woff2") format("woff2");
        }

        * {
            font-family: "Kanit", Arial, Helvetica, sans-serif;
            box-sizing: border-box;
        }

        html {
            margin: 0 0;
            height: 100%;
            width: 100%;
        }

        #content-wrapper {
            display: flex;
            flex-direction: column;
            width: 97vw;
            height: 97vh;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;

            background: linear-gradient(135deg, #1a1b26, #7aa2f7, #bb9af7, #f7768e);
            background-size: 150% 150%;
            animation: gradient 10s ease infinite;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
    </style>
</html>
