---
import "../styles/global.css";

import Navbar from "../components/Navbar.astro";

const { nav } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>dgd.dev</title>
  </head>
  <body>
    {
      nav && (
        <header>
          <Navbar />
        </header>
      )
    }

    <div id="scrollable">
      <slot />
    </div>
  </body>
</html>

<script>
  // Stolen from https://design.dev/guides/dark-mode-css/

  const getTheme = () => {
    const savedTheme = localStorage.getItem("theme");
    if (savedTheme) {
      return savedTheme;
    }

    // Check for system theme preference
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };

  const setTheme = (theme: string) => {
    document.documentElement.setAttribute("data-theme", theme);
    localStorage.setItem("theme", theme);
  };

  function toggleTheme() {
    const currentTheme = getTheme();
    const newTheme = currentTheme === "dark" ? "light" : "dark";
    setTheme(newTheme);
  }

  document.addEventListener("DOMContentLoaded", () => {
    const theme = getTheme();
    setTheme(theme);

    // Add toggle listener
    const toggle = document.getElementById("theme-toggle");
    toggle?.addEventListener("change", () => toggleTheme());
  });
</script>

<style>
  body {
    min-height: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }

  #scrollable {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
</style>
