---

import "../styles/global.css";

import Navbar from "../components/Navbar.astro";

const { nav } = Astro.props;
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>dgd.dev</title>
	</head>
	<body>
    {nav && (
    <header>
      <Navbar />
    </header>
    )}

    <div id="scrollable">
      <slot />
    </div>
	</body>
</html>


<style>

  body {
    min-height: 100%;
    height: fit-content;
    overflow-y: none;
    display: flex;
    flex-direction: column;
  }

  #scrollable {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
</style>

